<div class="parent-fragment" th:fragment="parent(content)">
<h1>This is parent fragment</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quis provident voluptas commodi quod error, ipsam nostrum aliquam molestiae totam cumque, aliquid, officiis eaque labore dignissimos dicta velit. Deleniti, veniam?</p>
<!--<h1>Value of x is <span th:text="${x}"></span></h1>
<h1>Value of y is <span th:text="${y}"></span></h1>-->
<div th:fragment="test(content)">
   <div th:replace="${content}"></div>
</div>
</div>